@font-face {
    font-family: 'Abel';
    src: url('https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2');
  }
  
  .main {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 90vh !important;
  }
  
  .squircle {
    background-color: #F2F2F2 !important;
    width: 40% !important;
    padding: 3rem !important;
    border: 2px solid #555555 !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  
  #text {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-bottom: 2rem !important;
  }
  
  .heading,
  .description {
    font-family: 'Abel', sans-serif !important;
    text-align: center !important;
  }
  
  .heading {
    font-size: 2.5rem !important;
    color: #333333 !important;
  }
  
  .description {
    font-size: 1.2rem !important;
    color: #808080 !important;
  }
  
  .form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
    max-width: 350px !important;
  }
  
  .formTextField {
    margin: 1rem !important;
    width: 100% !important;
    max-width: 350px !important;
  }
  
  .formTextField input:focus {
    outline: none !important;
    border-color: #E6E6E6 !important;
    box-shadow: none !important;
  }
  
  .submitbutton {
    margin-top: 2rem !important;
    background-color: #888888 !important;
    color: white !important;
    width: 100% !important;
    max-width: 350px !important;
    height: 3rem !important;
    font-size: 1.2rem !important;
    border-radius: 4px !important;
    transition: background-color 0.3s ease !important;
  }
  
  .submitbutton:hover {
    background-color: #777777 !important;
  }
  .submitbutton:disabled {
    background-color: #b5b5b5 !important;
  }