@font-face {
  font-family: "Abel" !important;
  src: url("https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2") !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.squircle {
  background: transparent;
  width: auto;
  padding: 3vh;
  border: 2px solid #9f9f9f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#text {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  margin-bottom: 2vh !important;
}

.heading {
  font-family: "Abel", sans-serif !important;
  font-size: 3em !important;
}

.description {
  font-family: "Abel", sans-serif !important;
  font-size: 1.5em !important;
  color: #555555 !important;
}

.form {
  display: flex !important;
  flex-direction: column !important;
}

.formTextField {
  margin: 1vh !important;
  width: 27em !important;
}

#forgotpassword {
  font-family: sans-serif !important;
  font-size: 0.9em !important;
  color: #555555 !important;
  text-decoration: underline !important;
  padding-left: 0 !important;
  margin-left: 0.4em !important;
}

#forgotpassword:hover {
  color: #333333 !important;
}

.submitbutton {
  margin-top: 2vh !important;
  background-color: #555555 !important;
  color: #ffffff !important;
  width: auto !important;
}

.errorText {
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  color: red;
  margin-top: 0.5em;
}

