.createcontainer {
  width: 15%; 
}

.createButtonContainter{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 10px 50px 10px 50px;
  margin: 15px 15px 15px 15px;
  background-color: gray;
  height:auto

}

.recentforumcontainer {
  border-radius: 15px;
  background-color: gray;
  padding: 10px 10px 10px 10px;
  margin: 15px 15px 15px 15px;
  text-align: center;
}

.mainContainer{
  display: flex;
}


.forumcontainer {
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  background-color: gray;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.forumflexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  overflow-y: scroll;
}

.recentforumtitle {
  text-decoration: underline;
  color: white;
}

.createbutton {
  background-color: silver;
  color: black;
  border-color: black;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}