@font-face {
    font-family: 'Abel';
    src: url('https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2');
}



#homescreen-heading {
    display: -webkit-box
}

#outlined-basic {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Inter', 'Abel';
    font-size: 25px;
    border-radius: 25px;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px;
}
.css-1pmjqg1-MuiFormControl-root-MuiTextField-root {
    padding-top: 15px;
    background-color: #AEAEAE;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #AEAEAE;
    color: #000000;
}

.css-z4rqyd-MuiButton-endIcon{
    margin-right: 0;

}

.css-hyum1k-MuiToolbar-root{
    display:block;
}

.css-1qvpupt-MuiTypography-root{
    display: none;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: white;
}

p{
    font-family: 'Abel';
    font-style: normal;
    display:flex;
    align-items: center;
    font-weight: 400;
    font-size: 42px;
    padding-right: 5%;
}



a[target="Nav"] {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;

    font-family: 'Inter', 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

a[target="Home"] {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;
    padding-right: 5%;

    color: #000000;
}

a[target="list"] {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    

    color: #000000;
}



.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
    background-color: #AEAEAE;
}

li{
    display: flex;
    background-color: #D9D9D9;
    margin: 10px;
    list-style-type: none;
    border-radius: 25px;
    text-align: center;
}