@font-face {
    font-family: 'Abel';
    src: url('https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2');
}

@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter');
}

.appbar {
    background-color: #D4D7DC;
    height: 4rem;
    color: #608180;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    font-family: 'Abel' !important;
    font-style: normal !important;
    font-size: 4em !important;
    color: black !important;
    letter-spacing: -0.075em !important;
}

.currentscreen {
    font-family: 'Abel' !important;
    font-style: normal !important;
    font-size: 42px !important;
    color: #608180 !important;
}

.searchArea {
    display: flex;
    align-items: center;
}

.searchTextField {
    background-color: #F7F7F7;
    width: 30em;
    margin-right: 0.5em;
}

.nav {
    font-family: 'Abel' !important;
    font-style: normal !important;
    font-size: 42px !important;
    color: #608180 !important;
}

.list {
    font-family: 'Abel' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 20px !important;
    color: #000000 !important;
}

.loginli {
    margin: 5px!important;
    text-align: center !important;
}
/* 
#homescreenheading {
    display: inline-flex !important;
    text-align: center !important;
    align-items: center !important;
}

#tagSearch {
    padding: 5px !important;
    border-radius: 25px !important;
}

.homescreen-heading {
    font-family: 'Abel' !important;
    font-style: normal !important;
    display: flex !important;
    align-items: center !important;
    font-weight: 400 !important;
    font-size: 42px !important;
    padding-right: 5% !important;
} */
