.importbox {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 10px 50px 10px 50px;
  margin: 15px 15px 15px 15px;
  background-color: gray;
  height:auto
}

.mainContainer{
  display: flex;
}


.recentmapcontainer {
  border-radius: 15px;
  background-color: gray;
  padding: 10px 10px 10px 10px;
  margin: 15px 15px 15px 15px;
  text-align: center;
}



.mapcontainer {
  display: inline-block;
  width: 1650px;
  border-radius: 15px;
  background-color: gray;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.mapsflexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 5px 5px 5px;
  background-color: silver;
  border-radius: 10px;
  overflow-y: scroll;
}


.recentmaptitle {
  text-decoration: underline;
  color: white;
}

.importbutton {
  background-color: silver;
  border-color: black;
  border-radius: 15px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}