  .importbutton {
  background-color: silver;
  border-color: black;
  border-radius: 15px;
  color: black;
}

.importcontainer {
  border-radius: 15px;
  background-color: gray;
  float: left;
  margin: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 20%;
  }

  .map {
    width: 75%;
    border-radius: 10px;
  }

  .mapbox {
    margin-top: 2%;
    width: 33%;
  }

  .mapcontainer {
    background-color: gray;
    border-radius: 15px;
    float: right;
    margin-right: 2%;
    padding: 2%;
    text-align: center;
    width: 73%;
  }

  .mapflexcontainer {
    background-color: silver;
    border-radius: 15px;
    /* width: 50%; */
    height: 20%;
    min-height: 100%;
    overflow-y: scroll;
  }

  .maptext {
    font-size: 75%;
  }

  .maptitle {
    font-weight: bold;
    font-size: 125%;
  }

  .profilecontainer {
    /* display: none; */
    border-radius: 15px;
    background-color: silver;
    float: right;
    margin: 2% 2% 2% 0%;
    padding: 2%;
    width: 73%;
  }

  .profileownedmaps {
    clear: left;
  }

  .profilepic {
    color: white;
    height: 10%;
    width: 10%;
  }

  .profiletext {
    padding: 1.25%;
  }

  .profileuser {
    float: left;
    font-weight: bold;
  }

  .recentmap {
    border-radius: 10px;
    float: left;
    margin-right: 10%;
    max-height: 100%;
    width: 47%;
  }

  .recentmapauthor {
    clear: left;
    font-size: 75%;
  }

  .recentmapcontainer {
    background-color: gray;
    border-radius: 15px;
    float: left;
    margin-left: 2%;
    padding: 1%;
    text-align: center;
    width: 20%;
  }

  .recentmapsubcontainer {
    background-color: silver;
    border-radius: 10px;
    padding: 2%;
    margin-top: 7%;
  }

  .recentmapheading {
    color: white;
    margin-bottom: 8%;
    text-decoration: underline;
  }

  .recentmaptext {
    margin: auto;
  }

  .recentmaptitle {
    float: left;
    font-size: 125%;
    font-weight: bold;
  }
  
  /* .main {
    align-items: center;
  }
  
  .importbox {
    border-radius: 15px;
    background-color: gray;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    padding: 1% 4% 1% 4%;
    margin: 3% 2% 3% 2%;
    float: left;
    height: 65px;
  }

  .recentmapcontainer {
    width: 250px;
    border-radius: 15px;
    background-color: gray;
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 15px 15px;
    clear: left;
    text-align: center;
  }

  .profilecontainer {
    float: right;
    border-radius: 15px;
    background-color: silver;
    padding: 25px 25px 25px 25px;
    margin: 10px 10px 10px 50px;
    width: 1100px;
    }

  .mapcontainer {
    display: inline-block;
    width: 1100px;
    border-radius: 15px;
    background-color: gray;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    }

  .flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .mapsflexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 5px 5px 5px;
    background-color: silver;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .recentmap {
    height: 80px;
    width: 120px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
  }

  .map {
    height: 120px;
    height: 180px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .profile {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
  }

  .recentmaptitle {
    text-decoration: underline;
    color: white;
  }
  
  .recentmapdiv {
    background-color: silver;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }

  .importbutton {
    background-color: silver;
    border-color: black;
    border-radius: 15px;
    color: black;
  } */